


@if $layout == global {
  .block-tsitaatcom-qotd {
    background-color: #f1f8f9;
    margin: 0 20px;
    max-width: $width-wide-content - 100;
    padding: 0 20px;

    .quote-container {
      padding: 40px 0 30px 0;

      .wrap--author-name--author-profession,
      p.quote {
        padding-left: 0;
      }

      div.quote {
        padding-top: 0;
        position: relative;
      }

      .author-name {
        @include fontSize(24px);
      }

      .author-profession,
      .quote-source {
        @include fontSize(13px);
      }

      .author-profession {
        padding-bottom: 8px;
      }

      .quote-source {
        padding-top: 16px;
      }
    }
  }



  @media (min-width: 610px) {
    .block-tsitaatcom-qotd {
      background-color: transparent;
      background-image: url(../img/10-global/block-tsitaatcom-qotd-bg.png);
      background-position: 100% 100%;
      margin-left: auto;
      margin-right: auto;
      padding: 0 0 4px 0;

      .quote-container {
        background-image: url(../img/10-global/block-tsitaatcom-qotd-bg.png);
        padding: 65px 0 51px 0;

        .wrap--author-name--author-profession,
        p.quote {
          padding-left: 23px;
        }

        div.quote {
          &:before {
            background: url(../img/10-global/block-tsitaatcom-qotd-quote.png);
            content: "";
            height: 22px;
            left: -34px;
            position: absolute;
            top: 0;
            width: 36px;
          }
        }
      }
    }
  }
}
