


@if $layout == global {
  .block-search {
    margin: 0 auto;
    width: 200px;

    form.gsc-search-box {
      margin-bottom: 0;
    }

    table.gsc-search-box {
      margin-bottom: 0;
    }

    td {
      background: none;
      padding: 0 !important;
    }

    .gsc-input-box {
      border: 0;
      background: none;
    }

    // Hide close button as it kind of breaks the UI visually.
    td.gsib_b {
      display: none;
    }

    input[type="text"] {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      background-position: 17px 50% !important;
      border-radius: 6px 0 0 6px;
      border-right: 0 !important;
      border: 1px solid #9db2b3 !important;
      color: #696269;
      //font-family: $font_title_italic;
      //font-size: 20px;
      height: 30px;
      line-height: 30px;
      margin: 0;
      padding: 13px 18px 11px 18px !important;
      width: 100px;
    }

    button.gsc-search-button {
      @include sprite($header-search-btn);
      background-color: transparent;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0;
      border: 0;
      direction: ltr;
      margin: 0;
      overflow: hidden;
      padding: 0;
      text-indent: -10000px;
    }
  }

  .gsc-control-cse {
    border: 0;
  }



  @media (min-width: 300px) {
    .block-search {
      width: 280px;

      input[type="text"] {
        width: 180px;
      }
    }
  }



  @media (min-width: 400px) {
    .block-search {
      width: 380px;

      input[type="text"] {
        width: 280px;
      }
    }
  }



  @media (min-width: 500px) {
    .block-search {
      width: 460px;

      input[type="text"] {
        width: 360px;
      }
    }
  }
}
