


@if $layout == global {
  $block-search--header-animate-speed: 0.2s;
  $block-search--header-hover-width: 300px;
  $block-search--header-top-button-height: 28px;
  $block-search--header-top-button-width: 30px;
  $block-search--header-top-form-border: 4px;

  .block-search {
    form.gsc-search-box {
      margin-bottom: 0;
    }

    table.gsc-search-box {
      margin-bottom: 0;
    }

    td {
      background: none;
      padding: 0 !important;
    }

    .gsc-input-box {
      border: 0;
      background: none;
    }

    // Hide close button as it kind of breaks the UI visually.
    td.gsib_b {
      display: none;
    }

    input[type="text"] {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin-top: 0 !important;
    }

    // Hide placeholder.
    & {
      ::-webkit-input-placeholder { // Chrome/Opera/Safari
        color: white;
      }
      ::-moz-placeholder { // Firefox 19+
        color: white;
      }
      :-ms-input-placeholder { // IE 10+
        color: white;
      }
      :-moz-placeholder { // Firefox 18-
        color: white;
      }
    }
  }

  .block-search--front {
    display: none;
    margin: 0 auto;
    padding: 30px 0;
    width: 200px;

    input[type="text"] {
      background-position: 17px 50% !important;
      border-radius: 6px 0 0 6px;
      border-right: 0 !important;
      border: 1px solid #9db2b3 !important;
      color: #696269;
      //font-family: $font_title_italic;
      //font-size: 20px;
      height: 56px !important;
      line-height: 56px;
      margin: 0;
      padding: 13px 18px 11px 18px !important;
      width: 100px;
    }

    button.gsc-search-button {
      @include sprite($header-search-btn);
      background-color: transparent;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0;
      border: 0;
      direction: ltr;
      margin: 0;
      overflow: hidden;
      padding: 0;
      text-indent: -10000px;
    }
  }

  .block-search--header-top {
    background: white;
    border-radius: 25px;
    border: $block-search--header-top-form-border solid white;
    box-sizing: border-box;
    height: $block-search--header-top-button-height + ($block-search--header-top-form-border * 2);
    overflow: hidden;
    position: relative;
    transition: all 0s;
    width: $block-search--header-top-button-width + ($block-search--header-top-form-border * 2);

    input[type="text"],
    button.gsc-search-button {
      height: $block-search--header-top-button-height !important;
      border-radius: 6px;
    }

    input[type="text"] {
      background: white !important;
      border-radius: 0;
      border: 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      display: none;
      font-size: 1em;
      height: $block-search--header-top-button-height;
      left: 0;
      line-height: $block-search--header-top-button-height;
      outline: 0;
      padding: 0 10px !important;
      position: absolute;
      right: $block-search--header-top-button-width + ($block-search--header-top-form-border * 2);
      top: 0;
      width: $block-search--header-hover-width - $block-search--header-top-button-width - $block-search--header-top-form-border * 3 !important;
    }

    button.gsc-search-button {
      background: white;
      border-radius: 99px;
      border: 0;
      color: #07051a;
      margin: 0;
      padding: 0;
      right: 0;
      text-align: center;
      top: 0;
      transition: all $block-search--header-animate-speed;
      width: $block-search--header-top-button-width;
      display: block;
      z-index: 1;
      position: absolute;

      svg {
        fill: $color-link-hover;
      }
    }

    &:hover {
      cursor: pointer;
      position: absolute;
      right: $horizontal-padding-mobile;
      width: $block-search--header-hover-width;
    }

    &:hover input[type="text"] {
      display: block;
    }

    &:hover button.gsc-search-button {
      background: $color-link-hover;

      svg {
        fill: white;
      }
    }
  }

  .gsc-control-cse {
    border: 0;
  }



  @media (min-width: 400px) {
    .front .block-search--front {
      display: block;
    }

    .block-search--front {
      width: 380px;

      input[type="text"] {
        width: 280px;
      }
    }

    .block-search--header-top {
      &:hover {
        right: $horizontal-padding-desktop;
      }
    }
  }



  @media (min-width: $width-normal-content) {
    .block-search--front {
      width: 460px;

      input[type="text"] {
        width: 360px;
      }
    }
  }



  @media (min-width: 600px) {
    .block-search--header-top {
      transition: all $block-search--header-animate-speed;

      &:hover {
        position: relative;
        right: 0;
      }
    }
  }
}
