/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$author-mask-gray-name: 'author-mask-gray';
$author-mask-gray-x: 81px;
$author-mask-gray-y: 385px;
$author-mask-gray-offset-x: -81px;
$author-mask-gray-offset-y: -385px;
$author-mask-gray-width: 67px;
$author-mask-gray-height: 67px;
$author-mask-gray-total-width: 970px;
$author-mask-gray-total-height: 453px;
$author-mask-gray-image: '../img/sprite.png';
$author-mask-gray: (81px, 385px, -81px, -385px, 67px, 67px, 970px, 453px, '../img/sprite.png', 'author-mask-gray', );
$author-mask-white-name: 'author-mask-white';
$author-mask-white-x: 148px;
$author-mask-white-y: 385px;
$author-mask-white-offset-x: -148px;
$author-mask-white-offset-y: -385px;
$author-mask-white-width: 67px;
$author-mask-white-height: 67px;
$author-mask-white-total-width: 970px;
$author-mask-white-total-height: 453px;
$author-mask-white-image: '../img/sprite.png';
$author-mask-white: (148px, 385px, -148px, -385px, 67px, 67px, 970px, 453px, '../img/sprite.png', 'author-mask-white', );
$author-noimage-name: 'author-noimage';
$author-noimage-x: 580px;
$author-noimage-y: 335px;
$author-noimage-offset-x: -580px;
$author-noimage-offset-y: -335px;
$author-noimage-width: 26px;
$author-noimage-height: 31px;
$author-noimage-total-width: 970px;
$author-noimage-total-height: 453px;
$author-noimage-image: '../img/sprite.png';
$author-noimage: (580px, 335px, -580px, -335px, 26px, 31px, 970px, 453px, '../img/sprite.png', 'author-noimage', );
$boy-name: 'boy';
$boy-x: 580px;
$boy-y: 0px;
$boy-offset-x: -580px;
$boy-offset-y: 0px;
$boy-width: 390px;
$boy-height: 335px;
$boy-total-width: 970px;
$boy-total-height: 453px;
$boy-image: '../img/sprite.png';
$boy: (580px, 0px, -580px, 0px, 390px, 335px, 970px, 453px, '../img/sprite.png', 'boy', );
$clouds-name: 'clouds';
$clouds-x: 0px;
$clouds-y: 0px;
$clouds-offset-x: 0px;
$clouds-offset-y: 0px;
$clouds-width: 580px;
$clouds-height: 385px;
$clouds-total-width: 970px;
$clouds-total-height: 453px;
$clouds-image: '../img/sprite.png';
$clouds: (0px, 0px, 0px, 0px, 580px, 385px, 970px, 453px, '../img/sprite.png', 'clouds', );
$footer-logo-name: 'footer-logo';
$footer-logo-x: 0px;
$footer-logo-y: 385px;
$footer-logo-offset-x: 0px;
$footer-logo-offset-y: -385px;
$footer-logo-width: 81px;
$footer-logo-height: 68px;
$footer-logo-total-width: 970px;
$footer-logo-total-height: 453px;
$footer-logo-image: '../img/sprite.png';
$footer-logo: (0px, 385px, 0px, -385px, 81px, 68px, 970px, 453px, '../img/sprite.png', 'footer-logo', );
$header-search-btn-name: 'header-search-btn';
$header-search-btn-x: 215px;
$header-search-btn-y: 385px;
$header-search-btn-offset-x: -215px;
$header-search-btn-offset-y: -385px;
$header-search-btn-width: 62px;
$header-search-btn-height: 56px;
$header-search-btn-total-width: 970px;
$header-search-btn-total-height: 453px;
$header-search-btn-image: '../img/sprite.png';
$header-search-btn: (215px, 385px, -215px, -385px, 62px, 56px, 970px, 453px, '../img/sprite.png', 'header-search-btn', );
$icon-quote-category-name: 'icon-quote-category';
$icon-quote-category-x: 702px;
$icon-quote-category-y: 335px;
$icon-quote-category-offset-x: -702px;
$icon-quote-category-offset-y: -335px;
$icon-quote-category-width: 20px;
$icon-quote-category-height: 16px;
$icon-quote-category-total-width: 970px;
$icon-quote-category-total-height: 453px;
$icon-quote-category-image: '../img/sprite.png';
$icon-quote-category: (702px, 335px, -702px, -335px, 20px, 16px, 970px, 453px, '../img/sprite.png', 'icon-quote-category', );
$icon-quote-favorite-name: 'icon-quote-favorite';
$icon-quote-favorite-x: 642px;
$icon-quote-favorite-y: 335px;
$icon-quote-favorite-offset-x: -642px;
$icon-quote-favorite-offset-y: -335px;
$icon-quote-favorite-width: 20px;
$icon-quote-favorite-height: 16px;
$icon-quote-favorite-total-width: 970px;
$icon-quote-favorite-total-height: 453px;
$icon-quote-favorite-image: '../img/sprite.png';
$icon-quote-favorite: (642px, 335px, -642px, -335px, 20px, 16px, 970px, 453px, '../img/sprite.png', 'icon-quote-favorite', );
$icon-quote-tags-name: 'icon-quote-tags';
$icon-quote-tags-x: 722px;
$icon-quote-tags-y: 335px;
$icon-quote-tags-offset-x: -722px;
$icon-quote-tags-offset-y: -335px;
$icon-quote-tags-width: 20px;
$icon-quote-tags-height: 16px;
$icon-quote-tags-total-width: 970px;
$icon-quote-tags-total-height: 453px;
$icon-quote-tags-image: '../img/sprite.png';
$icon-quote-tags: (722px, 335px, -722px, -335px, 20px, 16px, 970px, 453px, '../img/sprite.png', 'icon-quote-tags', );
$icon-quote-translations-name: 'icon-quote-translations';
$icon-quote-translations-x: 662px;
$icon-quote-translations-y: 335px;
$icon-quote-translations-offset-x: -662px;
$icon-quote-translations-offset-y: -335px;
$icon-quote-translations-width: 20px;
$icon-quote-translations-height: 16px;
$icon-quote-translations-total-width: 970px;
$icon-quote-translations-total-height: 453px;
$icon-quote-translations-image: '../img/sprite.png';
$icon-quote-translations: (662px, 335px, -662px, -335px, 20px, 16px, 970px, 453px, '../img/sprite.png', 'icon-quote-translations', );
$icon-quote-username-name: 'icon-quote-username';
$icon-quote-username-x: 682px;
$icon-quote-username-y: 335px;
$icon-quote-username-offset-x: -682px;
$icon-quote-username-offset-y: -335px;
$icon-quote-username-width: 20px;
$icon-quote-username-height: 16px;
$icon-quote-username-total-width: 970px;
$icon-quote-username-total-height: 453px;
$icon-quote-username-image: '../img/sprite.png';
$icon-quote-username: (682px, 335px, -682px, -335px, 20px, 16px, 970px, 453px, '../img/sprite.png', 'icon-quote-username', );
$menu-login-icon-active-name: 'menu-login-icon-active';
$menu-login-icon-active-x: 580px;
$menu-login-icon-active-y: 366px;
$menu-login-icon-active-offset-x: -580px;
$menu-login-icon-active-offset-y: -366px;
$menu-login-icon-active-width: 11px;
$menu-login-icon-active-height: 14px;
$menu-login-icon-active-total-width: 970px;
$menu-login-icon-active-total-height: 453px;
$menu-login-icon-active-image: '../img/sprite.png';
$menu-login-icon-active: (580px, 366px, -580px, -366px, 11px, 14px, 970px, 453px, '../img/sprite.png', 'menu-login-icon-active', );
$menu-login-icon-name: 'menu-login-icon';
$menu-login-icon-x: 591px;
$menu-login-icon-y: 366px;
$menu-login-icon-offset-x: -591px;
$menu-login-icon-offset-y: -366px;
$menu-login-icon-width: 11px;
$menu-login-icon-height: 14px;
$menu-login-icon-total-width: 970px;
$menu-login-icon-total-height: 453px;
$menu-login-icon-image: '../img/sprite.png';
$menu-login-icon: (591px, 366px, -591px, -366px, 11px, 14px, 970px, 453px, '../img/sprite.png', 'menu-login-icon', );
$menu-top-100-icon-name: 'menu-top-100-icon';
$menu-top-100-icon-x: 742px;
$menu-top-100-icon-y: 335px;
$menu-top-100-icon-offset-x: -742px;
$menu-top-100-icon-offset-y: -335px;
$menu-top-100-icon-width: 25px;
$menu-top-100-icon-height: 7px;
$menu-top-100-icon-total-width: 970px;
$menu-top-100-icon-total-height: 453px;
$menu-top-100-icon-image: '../img/sprite.png';
$menu-top-100-icon: (742px, 335px, -742px, -335px, 25px, 7px, 970px, 453px, '../img/sprite.png', 'menu-top-100-icon', );
$tsitaatcom-content-index-active-item-name: 'tsitaatcom-content-index-active-item';
$tsitaatcom-content-index-active-item-x: 767px;
$tsitaatcom-content-index-active-item-y: 335px;
$tsitaatcom-content-index-active-item-offset-x: -767px;
$tsitaatcom-content-index-active-item-offset-y: -335px;
$tsitaatcom-content-index-active-item-width: 1px;
$tsitaatcom-content-index-active-item-height: 7px;
$tsitaatcom-content-index-active-item-total-width: 970px;
$tsitaatcom-content-index-active-item-total-height: 453px;
$tsitaatcom-content-index-active-item-image: '../img/sprite.png';
$tsitaatcom-content-index-active-item: (767px, 335px, -767px, -335px, 1px, 7px, 970px, 453px, '../img/sprite.png', 'tsitaatcom-content-index-active-item', );
$tsitaatcom-user-menu-active-item-name: 'tsitaatcom-user-menu-active-item';
$tsitaatcom-user-menu-active-item-x: 742px;
$tsitaatcom-user-menu-active-item-y: 342px;
$tsitaatcom-user-menu-active-item-offset-x: -742px;
$tsitaatcom-user-menu-active-item-offset-y: -342px;
$tsitaatcom-user-menu-active-item-width: 1px;
$tsitaatcom-user-menu-active-item-height: 9px;
$tsitaatcom-user-menu-active-item-total-width: 970px;
$tsitaatcom-user-menu-active-item-total-height: 453px;
$tsitaatcom-user-menu-active-item-image: '../img/sprite.png';
$tsitaatcom-user-menu-active-item: (742px, 342px, -742px, -342px, 1px, 9px, 970px, 453px, '../img/sprite.png', 'tsitaatcom-user-menu-active-item', );
$vote-down-name: 'vote-down';
$vote-down-x: 606px;
$vote-down-y: 335px;
$vote-down-offset-x: -606px;
$vote-down-offset-y: -335px;
$vote-down-width: 18px;
$vote-down-height: 18px;
$vote-down-total-width: 970px;
$vote-down-total-height: 453px;
$vote-down-image: '../img/sprite.png';
$vote-down: (606px, 335px, -606px, -335px, 18px, 18px, 970px, 453px, '../img/sprite.png', 'vote-down', );
$vote-up-name: 'vote-up';
$vote-up-x: 624px;
$vote-up-y: 335px;
$vote-up-offset-x: -624px;
$vote-up-offset-y: -335px;
$vote-up-width: 18px;
$vote-up-height: 18px;
$vote-up-total-width: 970px;
$vote-up-total-height: 453px;
$vote-up-image: '../img/sprite.png';
$vote-up: (624px, 335px, -624px, -335px, 18px, 18px, 970px, 453px, '../img/sprite.png', 'vote-up', );
$spritesheet-width: 970px;
$spritesheet-height: 453px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($author-mask-gray, $author-mask-white, $author-noimage, $boy, $clouds, $footer-logo, $header-search-btn, $icon-quote-category, $icon-quote-favorite, $icon-quote-tags, $icon-quote-translations, $icon-quote-username, $menu-login-icon-active, $menu-login-icon, $menu-top-100-icon, $tsitaatcom-content-index-active-item, $tsitaatcom-user-menu-active-item, $vote-down, $vote-up, );
$spritesheet: (970px, 453px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
