// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$author-mask-gray-name: 'author-mask-gray';
$author-mask-gray-x: 390px;
$author-mask-gray-y: 68px;
$author-mask-gray-offset-x: -390px;
$author-mask-gray-offset-y: -68px;
$author-mask-gray-width: 67px;
$author-mask-gray-height: 67px;
$author-mask-gray-total-width: 471px;
$author-mask-gray-total-height: 335px;
$author-mask-gray-image: '../img/sprite.png';
$author-mask-gray: (390px, 68px, -390px, -68px, 67px, 67px, 471px, 335px, '../img/sprite.png', 'author-mask-gray', );
$author-mask-white-name: 'author-mask-white';
$author-mask-white-x: 390px;
$author-mask-white-y: 135px;
$author-mask-white-offset-x: -390px;
$author-mask-white-offset-y: -135px;
$author-mask-white-width: 67px;
$author-mask-white-height: 67px;
$author-mask-white-total-width: 471px;
$author-mask-white-total-height: 335px;
$author-mask-white-image: '../img/sprite.png';
$author-mask-white: (390px, 135px, -390px, -135px, 67px, 67px, 471px, 335px, '../img/sprite.png', 'author-mask-white', );
$author-noimage-name: 'author-noimage';
$author-noimage-x: 390px;
$author-noimage-y: 258px;
$author-noimage-offset-x: -390px;
$author-noimage-offset-y: -258px;
$author-noimage-width: 26px;
$author-noimage-height: 31px;
$author-noimage-total-width: 471px;
$author-noimage-total-height: 335px;
$author-noimage-image: '../img/sprite.png';
$author-noimage: (390px, 258px, -390px, -258px, 26px, 31px, 471px, 335px, '../img/sprite.png', 'author-noimage', );
$boy-name: 'boy';
$boy-x: 0px;
$boy-y: 0px;
$boy-offset-x: 0px;
$boy-offset-y: 0px;
$boy-width: 390px;
$boy-height: 335px;
$boy-total-width: 471px;
$boy-total-height: 335px;
$boy-image: '../img/sprite.png';
$boy: (0px, 0px, 0px, 0px, 390px, 335px, 471px, 335px, '../img/sprite.png', 'boy', );
$footer-logo-name: 'footer-logo';
$footer-logo-x: 390px;
$footer-logo-y: 0px;
$footer-logo-offset-x: -390px;
$footer-logo-offset-y: 0px;
$footer-logo-width: 81px;
$footer-logo-height: 68px;
$footer-logo-total-width: 471px;
$footer-logo-total-height: 335px;
$footer-logo-image: '../img/sprite.png';
$footer-logo: (390px, 0px, -390px, 0px, 81px, 68px, 471px, 335px, '../img/sprite.png', 'footer-logo', );
$header-search-btn-name: 'header-search-btn';
$header-search-btn-x: 390px;
$header-search-btn-y: 202px;
$header-search-btn-offset-x: -390px;
$header-search-btn-offset-y: -202px;
$header-search-btn-width: 62px;
$header-search-btn-height: 56px;
$header-search-btn-total-width: 471px;
$header-search-btn-total-height: 335px;
$header-search-btn-image: '../img/sprite.png';
$header-search-btn: (390px, 202px, -390px, -202px, 62px, 56px, 471px, 335px, '../img/sprite.png', 'header-search-btn', );
$icon-quote-category-name: 'icon-quote-category';
$icon-quote-category-x: 416px;
$icon-quote-category-y: 258px;
$icon-quote-category-offset-x: -416px;
$icon-quote-category-offset-y: -258px;
$icon-quote-category-width: 20px;
$icon-quote-category-height: 16px;
$icon-quote-category-total-width: 471px;
$icon-quote-category-total-height: 335px;
$icon-quote-category-image: '../img/sprite.png';
$icon-quote-category: (416px, 258px, -416px, -258px, 20px, 16px, 471px, 335px, '../img/sprite.png', 'icon-quote-category', );
$icon-quote-favorite-name: 'icon-quote-favorite';
$icon-quote-favorite-x: 436px;
$icon-quote-favorite-y: 258px;
$icon-quote-favorite-offset-x: -436px;
$icon-quote-favorite-offset-y: -258px;
$icon-quote-favorite-width: 20px;
$icon-quote-favorite-height: 16px;
$icon-quote-favorite-total-width: 471px;
$icon-quote-favorite-total-height: 335px;
$icon-quote-favorite-image: '../img/sprite.png';
$icon-quote-favorite: (436px, 258px, -436px, -258px, 20px, 16px, 471px, 335px, '../img/sprite.png', 'icon-quote-favorite', );
$icon-quote-tags-name: 'icon-quote-tags';
$icon-quote-tags-x: 390px;
$icon-quote-tags-y: 289px;
$icon-quote-tags-offset-x: -390px;
$icon-quote-tags-offset-y: -289px;
$icon-quote-tags-width: 20px;
$icon-quote-tags-height: 16px;
$icon-quote-tags-total-width: 471px;
$icon-quote-tags-total-height: 335px;
$icon-quote-tags-image: '../img/sprite.png';
$icon-quote-tags: (390px, 289px, -390px, -289px, 20px, 16px, 471px, 335px, '../img/sprite.png', 'icon-quote-tags', );
$icon-quote-translations-name: 'icon-quote-translations';
$icon-quote-translations-x: 410px;
$icon-quote-translations-y: 289px;
$icon-quote-translations-offset-x: -410px;
$icon-quote-translations-offset-y: -289px;
$icon-quote-translations-width: 20px;
$icon-quote-translations-height: 16px;
$icon-quote-translations-total-width: 471px;
$icon-quote-translations-total-height: 335px;
$icon-quote-translations-image: '../img/sprite.png';
$icon-quote-translations: (410px, 289px, -410px, -289px, 20px, 16px, 471px, 335px, '../img/sprite.png', 'icon-quote-translations', );
$icon-quote-username-name: 'icon-quote-username';
$icon-quote-username-x: 430px;
$icon-quote-username-y: 289px;
$icon-quote-username-offset-x: -430px;
$icon-quote-username-offset-y: -289px;
$icon-quote-username-width: 20px;
$icon-quote-username-height: 16px;
$icon-quote-username-total-width: 471px;
$icon-quote-username-total-height: 335px;
$icon-quote-username-image: '../img/sprite.png';
$icon-quote-username: (430px, 289px, -430px, -289px, 20px, 16px, 471px, 335px, '../img/sprite.png', 'icon-quote-username', );
$menu-login-icon-active-name: 'menu-login-icon-active';
$menu-login-icon-active-x: 457px;
$menu-login-icon-active-y: 68px;
$menu-login-icon-active-offset-x: -457px;
$menu-login-icon-active-offset-y: -68px;
$menu-login-icon-active-width: 11px;
$menu-login-icon-active-height: 14px;
$menu-login-icon-active-total-width: 471px;
$menu-login-icon-active-total-height: 335px;
$menu-login-icon-active-image: '../img/sprite.png';
$menu-login-icon-active: (457px, 68px, -457px, -68px, 11px, 14px, 471px, 335px, '../img/sprite.png', 'menu-login-icon-active', );
$menu-login-icon-name: 'menu-login-icon';
$menu-login-icon-x: 457px;
$menu-login-icon-y: 82px;
$menu-login-icon-offset-x: -457px;
$menu-login-icon-offset-y: -82px;
$menu-login-icon-width: 11px;
$menu-login-icon-height: 14px;
$menu-login-icon-total-width: 471px;
$menu-login-icon-total-height: 335px;
$menu-login-icon-image: '../img/sprite.png';
$menu-login-icon: (457px, 82px, -457px, -82px, 11px, 14px, 471px, 335px, '../img/sprite.png', 'menu-login-icon', );
$menu-top-100-icon-name: 'menu-top-100-icon';
$menu-top-100-icon-x: 416px;
$menu-top-100-icon-y: 274px;
$menu-top-100-icon-offset-x: -416px;
$menu-top-100-icon-offset-y: -274px;
$menu-top-100-icon-width: 25px;
$menu-top-100-icon-height: 7px;
$menu-top-100-icon-total-width: 471px;
$menu-top-100-icon-total-height: 335px;
$menu-top-100-icon-image: '../img/sprite.png';
$menu-top-100-icon: (416px, 274px, -416px, -274px, 25px, 7px, 471px, 335px, '../img/sprite.png', 'menu-top-100-icon', );
$tsitaatcom-content-index-active-item-name: 'tsitaatcom-content-index-active-item';
$tsitaatcom-content-index-active-item-x: 469px;
$tsitaatcom-content-index-active-item-y: 68px;
$tsitaatcom-content-index-active-item-offset-x: -469px;
$tsitaatcom-content-index-active-item-offset-y: -68px;
$tsitaatcom-content-index-active-item-width: 1px;
$tsitaatcom-content-index-active-item-height: 7px;
$tsitaatcom-content-index-active-item-total-width: 471px;
$tsitaatcom-content-index-active-item-total-height: 335px;
$tsitaatcom-content-index-active-item-image: '../img/sprite.png';
$tsitaatcom-content-index-active-item: (469px, 68px, -469px, -68px, 1px, 7px, 471px, 335px, '../img/sprite.png', 'tsitaatcom-content-index-active-item', );
$tsitaatcom-user-menu-active-item-name: 'tsitaatcom-user-menu-active-item';
$tsitaatcom-user-menu-active-item-x: 468px;
$tsitaatcom-user-menu-active-item-y: 68px;
$tsitaatcom-user-menu-active-item-offset-x: -468px;
$tsitaatcom-user-menu-active-item-offset-y: -68px;
$tsitaatcom-user-menu-active-item-width: 1px;
$tsitaatcom-user-menu-active-item-height: 9px;
$tsitaatcom-user-menu-active-item-total-width: 471px;
$tsitaatcom-user-menu-active-item-total-height: 335px;
$tsitaatcom-user-menu-active-item-image: '../img/sprite.png';
$tsitaatcom-user-menu-active-item: (468px, 68px, -468px, -68px, 1px, 9px, 471px, 335px, '../img/sprite.png', 'tsitaatcom-user-menu-active-item', );
$vote-down-name: 'vote-down';
$vote-down-x: 452px;
$vote-down-y: 202px;
$vote-down-offset-x: -452px;
$vote-down-offset-y: -202px;
$vote-down-width: 18px;
$vote-down-height: 18px;
$vote-down-total-width: 471px;
$vote-down-total-height: 335px;
$vote-down-image: '../img/sprite.png';
$vote-down: (452px, 202px, -452px, -202px, 18px, 18px, 471px, 335px, '../img/sprite.png', 'vote-down', );
$vote-up-name: 'vote-up';
$vote-up-x: 452px;
$vote-up-y: 220px;
$vote-up-offset-x: -452px;
$vote-up-offset-y: -220px;
$vote-up-width: 18px;
$vote-up-height: 18px;
$vote-up-total-width: 471px;
$vote-up-total-height: 335px;
$vote-up-image: '../img/sprite.png';
$vote-up: (452px, 220px, -452px, -220px, 18px, 18px, 471px, 335px, '../img/sprite.png', 'vote-up', );
$spritesheet-width: 471px;
$spritesheet-height: 335px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($author-mask-gray, $author-mask-white, $author-noimage, $boy, $footer-logo, $header-search-btn, $icon-quote-category, $icon-quote-favorite, $icon-quote-tags, $icon-quote-translations, $icon-quote-username, $menu-login-icon-active, $menu-login-icon, $menu-top-100-icon, $tsitaatcom-content-index-active-item, $tsitaatcom-user-menu-active-item, $vote-down, $vote-up, );
$spritesheet: (471px, 335px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
