// FONTS
$font_default: 'Muli', sans-serif;
$font_title: 'RalewayRegular', sans-serif;
$font_title_italic: 'RalewayItalic', sans-serif;
$font_title_bold: 'RalewayBold', sans-serif;
$font_title_semibold: 'RalewaySemibold', sans-serif;

// TEXT
$line-height-default: 22px; // Calculated based on main quote text (22px).
$text-size-default: 13px;

// COLORS
$color-text: #534c53; // From main quote text.
$color-link: #305891; // From tagcloud.
$color-link-hover: #00688C;
$color-link-visited: #A300D8;

// OTHER
$header-region-background-color: #ddeeef;
$horizontal-padding-mobile: 10px;
$horizontal-padding-desktop: 17px;

// WIDHTS
$width-normal-content: 500px;
$width-wide-content: 700px;
